h3{
    // font-size: 2vw;
}
.ellipse{
    position: fixed;
    bottom: 5px;
    left: -15px;
    width: 15%;
    height: auto;
}
.subtract{
    position: fixed;
    top: 5px;
    right: 0;
    width: 15%;
    height: auto;
}
.arrows{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 25%;
    height: auto;
}