@import "../../SassConfig/variables.scss";
.general_dashboard {
  display: grid;
  grid-template-columns: 1fr 3fr;
  // column-gap: 2rem;
  // border: 2px solid blue;
  height: 100vh;

  overflow-y: hidden;
  .left_bar {
    // border: 2px solid blue;
    height: 100vh;
    padding-left: 2rem;
    background-color: black;
    color: white;
    .logo {
      gap: 1rem;
      display: flex;
      align-items: center;
      width: 100%;
      height: fit-content;
      padding: 2rem;
      text-align: center;
      margin: auto;
      color: white;
      transition: 0.5s;
    }
    .logo:hover {
      transform: scale(1.1);
      transition: 0.5s;
    }
    .nav {
      //   border: 2px solid red;
      margin-top: 1rem;
    }
    ul {
      width: 100%;
      height: fit-content;
      padding-left: 1rem;
      margin-top: 1rem;
      a {
        color: white;
        cursor: pointer;
      }
      a:hover {
        color: $myMainTextColor;
      }
      .blue {
        color: $myTextColor !important;
      }

      li {
        list-style: none;
        // background-color: blue;
        padding: 1rem 0.5rem;
      }
      .icon {
        color: white;
        width: 10px;
        height: 10px;
      }
    }
  }

  .dashboard_container {
    // border: 2px solid blue;
    width: 100%;
    height: 100%;
  }
  .red {
    color: red;
    display: block;

  }
}

@media (max-width: 900px) {
  .general_dashboard {
    display: grid;
    grid-template-columns: 1fr 0;
    height: 100vh;
  
    .left_bar {
      height: 60px;
      width: 100%;
      position: fixed;
      bottom: 0;
      padding-left: 0;
      background-color: $myFaintTextColor;
      border-top: 2px solid white;
      color: black;
      display: flex;
      align-items: center;
      justify-content: center;
      .logo {
        display: none;
      }
      .nav {
        margin-top: 0;
        p{
          display: none;
        }
      }
      ul {
        // border: 2px solid red;
        display: flex;
        width: 100%;
        height: 100%;
        padding-left: 0;
        margin-top: 0;
        align-items: center;
        justify-content: space-around;
        gap: 30px;
        a {
          color: black;
          cursor: pointer;
        }
        a:hover {
          color: $myMainTextColor;
        }
  
        li {
          list-style: none;
          // background-color: blue;
          padding: 0;
          display: flex;
          flex-direction: column;
          font-size: 100%;
          text-align: center;
        }
        
      }
    }
  
    .dashboard_container {
      // border: 2px solid blue;
      width: 100%;
      height: 100%;
    }
  }
  .left_dash_hide{
    display: none;
  }
}
