@import "../../SassConfig/variables";

.my_account {
  // border: 2px solid blue;
  // overflow-y: hidden;

  .user {
    // background-color: red;
    margin: 0 0 0.5rem 1rem;
    h3 {
      font-size: 3vw;
    }
  }
  .my_account_container {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    column-gap: 2rem;
    // border: 2px solid red;
    .left {
      // border: 2px solid blue;

      ul {
        background-color: #f6f6f6;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;
        padding: 2rem 2rem 0 1rem;
        border-radius: 15px;

        li {
          list-style: none;
          background-color: $myTextColor;

          // background-color:white ;
          padding: 1rem;
          border-radius: 8px;
          cursor: pointer;
          transition: 0.7s;
          color: white;
        }
        li:hover {
          background-color: $myMainTextColor;
          transition: 0.7s;
          color: black;
        }
      }
    }
    .right {
      height: 100vh;
    }
  }
}
